<div class="bio">
  <p>
    My name's <strong>Huy</strong>, a proud dad and a programmer.
  </p>
  <p>
    I founded <strong><a href="https://hexos.ai/">Hexos Lab</a></strong>, a tiny independent research team of part-timers working on medical image analysis with deep learning.
  </p>
  <p>
    Before that, I was a Principal Engineer at <a href="https://cake.vn/">Cake</a>, Co-founder of <a href="https://www.linkedin.com/company/primedata-cdxp-platform/">PrimeData</a>, Engineering Manager at <a href="https://vus.edu.vn/">VUS</a>.
  </p>
  <p>
    I love tinkering, and occasionally enjoy writing here.
  </p>
</div>

<style>
  .bio {
    font-family: var(--font-serif);
  }
  .bio p {
    padding-bottom: var(--space-sm);
  }
</style>
