---
layout: default
---


<i class="twa twa-heart">️</i>

<style>
    .headline-container {
        display: flex;
        flex-wrap: wrap;
    }

    .headline-item {
        flex-grow: 1;
        max-width: 20rem;
        padding: .5rem;
    }

    .headline-sub {
        font-size: .9rem;
        color: var(--grey-color);
    }

    @keyframes downward {
        0% {
            transform: translateY(-0.5rem);
        }

        50% {
            transform: translateY(0.5rem);
        }

        100% {
            transform: translateY(-0.5rem);
        }
    }

    .download-button:hover svg .arrow {
        fill: var(--brand-color) !important;
        animation: downward .5s linear infinite;
    }
</style>


<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <div class="headline-container">

        <div class="headline-item">
            <a class="post-link" href="/sketches">
                § Sketches
            </a>
            <span class="headline-sub">I enjoy drawing once in a while.</span>
        </div>

        <div class="headline-item">
            <a class="post-link" target="_black" href="/cv" style="display: inline">Curriculum Vitae</a>
            <a class="download-button" style="margin-left:.5rem" download filename="Huy CV.pdf" href="/assets/huy-cv.pdf">
                <svg width="1.2rem" height="1.2rem" style="display: inline">
                    <g transform="scale(0.2)">
                        <rect height="100.635" opacity="0" width="68.7012" x="0" y="0" />
                        <path d="M68.7012 41.1621L68.7012 78.7109C68.7012 86.9141 64.5996 91.0156 56.25 91.0156L12.4512 91.0156C4.15039 91.0156 0 86.9141 0 78.7109L0 41.1621C0 32.959 4.15039 28.8574 12.4512 28.8574L23.1445 28.8574L23.1445 35.9375L12.5488 35.9375C9.0332 35.9375 7.03125 37.8418 7.03125 41.5039L7.03125 78.3691C7.03125 82.0801 9.0332 83.9355 12.5488 83.9355L56.1523 83.9355C59.6191 83.9355 61.6699 82.0801 61.6699 78.3691L61.6699 41.5039C61.6699 37.8418 59.6191 35.9375 56.1523 35.9375L45.5078 35.9375L45.5078 28.8574L56.25 28.8574C64.5996 28.8574 68.7012 32.959 68.7012 41.1621Z" fill="#333" fill-opacity="0.85" />
                        <path class="arrow" d="M34.3262 65.5273C35.2539 65.5273 35.9863 65.2344 36.8652 64.3555L49.4629 52.2949C50.1465 51.6602 50.5371 50.9277 50.5371 50C50.5371 48.1934 49.1699 46.9238 47.3145 46.9238C46.4844 46.9238 45.6055 47.2656 44.9707 47.998L39.5996 53.8086L37.5488 56.0059L37.8418 50.1953L37.8418 11.1328C37.8418 9.27734 36.2305 7.71484 34.3262 7.71484C32.4707 7.71484 30.8594 9.27734 30.8594 11.1328L30.8594 50.1953L31.1523 56.0059L29.1016 53.8086L23.7305 47.998C23.0957 47.2656 22.168 46.9238 21.3379 46.9238C19.4824 46.9238 18.1641 48.1934 18.1641 50C18.1641 50.9277 18.5547 51.6602 19.1895 52.2949L31.7871 64.3555C32.7148 65.2344 33.4473 65.5273 34.3262 65.5273Z" fill="#333" fill-opacity="0.85" />
                    </g>
                </svg>
            </a>
            <!-- <div class="headline-sub">My gap months have recently ended. I'm well open for any interesting opportunities.</div> -->
        </div>

    </div>

    <hr style="margin: 1rem 0 2rem 0; color: var(--grey-color);">

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>

    <p class="headline-sub">
        <i>
            I have just recently migrated from an old blogs system, so there's not much meat in here yet.
        </i>
    </p>

    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}

</div>